.btn-gradient-primary {
  background: linear-gradient(to right, #1FA739, #22C55E);
  color: white;
  border: none;
}

.btn-gradient-primary:hover {
  background: linear-gradient(to right, #1FA739, #1a8c32);
}

.nav-link.active {
  font-weight: bold;
  background-color: #1FA739 !important;
  color: white !important;
}

.btn-toggle {
  padding: 0.5rem 1rem;
  font-weight: 500;
  background: none;
  border: none;
  width: 100%;
}
